# ==========================
# Entorno virtual
# ==========================
venv/
.env

# ==========================
# Archivos de Python compilados
# ==========================
__pycache__/
*.py[cod]
*$py.class

# ==========================
# Logs, bases de datos locales
# ==========================
*.log
*.sqlite3
*.db
*.db-journal

# ==========================
# IDE / Editor files
# ==========================
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# ==========================
# Python packaging / build
# ==========================
*.egg-info/
dist/
build/
.eggs/
*.egg

# ==========================
# Testing / coverage
# ==========================
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
pytest_cache/
nosetests.xml
coverage.xml
*.cover
*.py,cover

# ==========================
# Jupyter Notebook
# ==========================
.ipynb_checkpoints/

# ==========================
# Sistema / Misc
# ==========================
.DS_Store
Thumbs.db